<table class="table table-border">
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>email</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
